body { background-color: white; }

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#note p {
    padding: 5px;
    margin: 10px;
}

.head {
    padding: 1px 20px;
    background-color: blue;
    color: white;
}

.body {
    padding: 3px 20px;
    height: 200px;
}

.footer {
    padding: 3px 20px;
    background-color: blue;
    color: white;
}

.co {
    position: relative;
    padding: 0;
    border: 1px solid black;
    width: 48%;
    background-color: white;
    margin: 5px;
    animation-name: ani;
    animation-duration: 0.5s;
    font-family: 'Courier New', Courier, monospace;
    display: none;
    float: right;
}

@keyframes ani {
    from {top: -350px; opacity: 0}
    to {top:0; opacity: 1}
}

.close {
    color: salmon;
    text-decoration: none;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.delete-button {
    color: white;
    background-color: blue;
    outline: none;
    display: block;
    border: none;
    cursor: pointer;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.note-opener {
    color: blue;
    border: 2px solid lightblue;
    background-color: white;
    outline: none;
    cursor: pointer;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    margin: 3px;
    width: 200px;
    border-radius: 4px;
}

#notebar {
    margin: 5px;
}

.left-half {
    overflow: auto;
    width: 45%;
    float: left;
    height: 100%;
    padding: 5px;
}

.right-half {
    overflow: auto;
    width: 50%;
    float: left;
    height: 100%;
}

#submit {
    color:blue;
    border: 1px solid lightblue;
    border-radius: 10%;
    font-family:'Courier New', Courier, monospace;
    background-color: white;
}

#noteform {
    border: 1px solid lightblue;
    width: 50%;
    color:blue;
    z-index: 1;
}

#homepage {
    background-color: lightblue;
    color:blue;
}

#greet {
    border: 1px solid blue;
    background-color: lightblue;
    float: right;
    clear:both;
    height: 50px;
    width: 200px;
    text-align: center;
    padding:10px;
    font-family: 'Courier New', Courier, monospace;
}

textarea {
    border:2px solid blue;
    color: darkblue;
    background-color:lightblue;
    padding: 7px;
}

input[type=text] {
    background-color: lightblue;
    color: darkblue;
    border: 2px solid blue;
    font-family: 'Courier New', Courier, monospace;
    padding: 7px;
}

::placeholder {
    color: white;
}

#newnote {
    font-family: 'Courier New', Courier, monospace;
    color:blue;
}

#noteform p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#createnote {
    font-family: 'Courier New', Courier, monospace;
    background-color: blue;
    color: white;
    font-weight: bold;
    width: 100px;
    text-align: center;
    border: none;
    cursor: pointer;
    margin: 5px;
    height: 30px;
}

#choices {
    text-align: center;
}

#choices a {
    padding: 20px;
}