h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: blue;
    padding: 10px;
}

.container {
    position: absolute;
    left: 25%;
    top: 20%;
}

a {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 25%;
}

body {
    background-color: rgb(180, 225, 233);
}

#signup-submit {
    border: none;
    width: 20%;
    background-color: blue;
    padding: 7px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}

ul {
    list-style: none;
}

ul li::before {
    content: "\2022";
    color: darkred;
    display: inline-block;
    width: 1em;
    font-weight: bold;
    margin-left: -1em;
}